page-store-list {
    .item-cover {
        left: auto;
        top: auto;
    }
    ion-select {
        max-width: 100%;
    }
    .ion-icon {
        display: inline-block;
        font-size: 1.2em;
        position: absolute;
        top: 15px;
    }
    .FontColorRed {
        color: red;
        font-weight: bold;
    }
    .FontColorBlue {
        color: blue;
    }
    .FontColorBold {
        font-weight: bold;
    }
    .todataType1{
        background-color: transparent;
        color: #449a47;
        border-style: solid;
        border-width: 1px;
        border-color: #449a47;
        border-radius: 5px;
    }
}
