<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{i18n+".Title"|translate}}</ion-title>
  </ion-navbar>
  <ion-searchbar debounce=3000 placeholder='{{"public.Search"|translate}}'>
  </ion-searchbar>
  <ion-row>
    <ion-col>
      <ion-select [style.max-width]="maxWidth" placeholder='{{i18n+".TradeMix"|translate}}' [(ngModel)]="tradeMixCode" (ionChange)="ChangePost()" (ionCancel)="tradeMixCode=''" okText='{{"public.Okay"|translate}}' cancelText='{{"public.Dismiss"|translate}}'>
        <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Business'" value="{{item.Value}}">{{item.CH}}</ion-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-select [style.max-width]="maxWidth" placeholder='{{i18n+".recordStatus"|translate}}' [(ngModel)]="recordStatus" (ionChange)="ChangePost()" (ionCancel)="recordStatus=''" okText='{{"public.Okay"|translate}}' cancelText='{{"public.Dismiss"|translate}}'>
        <ion-option *ngFor="let item of AllStatus" value="{{item.Value}}">{{item.CH}}</ion-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText='{{"public.pullingText"|translate}}' refreshingSpinner="circles"
      refreshingText='{{"public.refreshingText"|translate}}'>
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let item of DataList">
    <ion-item class="thumbnailMy" (click)="OnClickItem(item)">
      <ion-thumbnail item-left>
        <!-- <img src="./assets/images/store01.png" /> -->
        <img src="{{item.Img|ImgUrl}}" />
      </ion-thumbnail>
      <div item-right style="width: 100%;text-align: left">
        <ion-label class="MyTitle"><h2 style="font-weight: bold">{{item.Name}}</h2></ion-label>
        <ion-label class="MyTitle">
          <ion-badge class="badge-ios todataType1">{{item.TradeMix}}</ion-badge>
          <span style="margin-left: 10px">{{item.ProspectNo}}</span>
        </ion-label>
      </div>
    </ion-item>
  </ion-card>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText='{{"public.loadingText"|translate}}'>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>