page-auth-login {
    .changApi{
        text-align: center;
        }
    ion-icon{
        font-size: 40px
    }
    ion-app.ios [padding] {
        padding: 16px 0px;
    }
    .list-ios {
        margin: -1px 0 0px;
    }
    // .LoginFrom{
    //     position: absolute;  
    //     top: 50%;  
    //     transform: translateY(-50%); 
    //     width: 100%;
    // }
    ion-footer{
        color: white;
    }
}
