<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{i18n+'.Title'|translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list [formGroup]="userForm">
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item class="thumbnailMy">
        <ion-thumbnail item-left>
          <up-single-pic *ngIf="bean!=null && bean.iconFiles!=null" [FileDict]="bean.iconFiles" [PicStyle]="{W:80,H:80}" (ChangeFileJson)="ChangeFileJson($event)"></up-single-pic>
          <ion-icon *ngIf="bean==null || bean.iconFiles==null" name="person" style="font-size: 100px"></ion-icon>
        </ion-thumbnail>
        <div item-right style="width: 100%;">
          <ion-item>
            <ion-label class="MyTitle">{{i18n+'.Name'|translate}}</ion-label>
            <ion-input formControlName="Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label class="MyTitle">{{i18n+'.SexID'|translate}}</ion-label>
            <ion-select formControlName="SexID" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
              <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Sex'" value="{{item.Value}}">{{item.CH}}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-item>


      <ion-item>
        <ion-label class="MyTitle">{{i18n+'.CountryID'|translate}}</ion-label>
        <ion-select formControlName="CountryID" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
          <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Country'" value="{{item.Value}}">{{item.CH}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="MyTitle">{{i18n+'.MarriageID'|translate}}</ion-label>
        <ion-select formControlName="MarriageID" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
          <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Marriage'" value="{{item.Value}}">{{item.CH}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="MyTitle">{{i18n+'.DOB'|translate}}</ion-label>
        <ion-datetime formControlName="DOB" displayFormat="YYYY年MMM月DD日" min="1661" doneText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="MyTitle">{{i18n+'.ProfessionID'|translate}}</ion-label>
        <ion-select formControlName="ProfessionID" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
          <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Profession'" value="{{item.Value}}">{{item.CH}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="MyTitle">{{i18n+'.EducationID'|translate}}</ion-label>
        <ion-select formControlName="EducationID" okText="{{'public.Okay' | translate}}" cancelText="{{'public.Dismiss' | translate}}">
          <ion-option *ngFor="let item of AllEnum | JsonFilter : 'Type' : 'Education'" value="{{item.Value}}">{{item.CH}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <!-- <ion-item-group>
      <ion-item-divider color="light">{{i18n+'.REMARK'|translate}}</ion-item-divider>
      <ion-item>
        <ion-textarea formControlName="REMARK" rows="5" placeholder="{{i18n+'.REMARK'|translate}}"></ion-textarea>
      </ion-item>
    </ion-item-group> -->
  </ion-list>
  <div padding>
    <button ion-button block (click)="save()">{{'public.Okay'|translate}}</button>
  </div>
</ion-content>