page-vip-transaction {
    .ion-icon {
        display: inline-block;
        font-size: 1.2em;
        position: absolute;
        top: 15px;
    }
    .Title{
        background-color: white
    }
    .list-ios {
        margin: -1px 0 10px;
    }
}
