page-active-list {
    img {
        max-width: 90%;
    }
    .item-ios.item-block .item-inner {
        padding-right: 8px;
        padding-right: 0px;
        border-bottom: 0.55px solid #c8c7cc;
    }
}
