page-family-edit {
    .thumbnailMy 
    {
        img{
            width: 100px;
            height: 100px;
        }
        ion-item{
            padding-left: 0px;
        }
        .item-inner{
            .input-wrapper{
            }
        }
    }
}
