<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager style="height: 200px;" loop="true" autoplay="5000">
        <ion-slide *ngFor="let image of [1,2,3,4]" style="background-image: url(./assets/images/slide01.png);background-size:100% 100%;">

        </ion-slide>
    </ion-slides>
    <ion-list class="moduleIco">
        <ion-row row-wrap>
            <ion-col (click)="GoPage(item.root,item.text)" *ngFor="let item of config.AllMoudle[0].children;index as i">
                <button>
                    <div class="backG{{i}}">
                        <ion-icon name="{{item.Icon}}"></ion-icon>
                    </div>
                    <div>{{item.text|translate}}</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-list>
    <div class="companyList">
        <div style="height: 10px;background-color: #EFEFEF;width: 100%">&nbsp;</div>
        <ion-row>
            <div class="columnTitle">
                <div class="ico">&nbsp;</div>
                <div style="width: 90%;">{{i18n+".popular"|translate}}</div>
                <div class="split"></div>
            </div>
            <ion-list class="storeList">
                <ion-row row-wrap>
                    <ion-col *ngFor="let item of DataList;index as i" style="width: 150px;" (click)="OnClickItem(item)">
                        <img src="{{item.Img|ImgUrl}}" width="170" height="120" />
                        <div>{{item.Name}}</div>
                    </ion-col>
                </ion-row>
            </ion-list>
        </ion-row>
    </div>
</ion-content>