<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{title}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager style="height: 200px;">
        <ion-slide *ngFor="let image of [1,2,3,4]" style="background-image: url(./assets/images/slide01.png);background-size:100% 100%;">

        </ion-slide>
    </ion-slides>
    <ion-list class="moduleIco">
        <ion-row row-wrap>
            <ion-col (click)="GoPage(item.root,item.text)" *ngFor="let item of config.AllMoudle[0].children;index as i">
                <button>
                    <div class="backG{{i}}">
                        <ion-icon name="{{item.Icon}}"></ion-icon>
                    </div>
                    <div>{{item.text|translate}}</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-list>
    <div class="companyList">
        <div style="height: 10px;background-color: #EFEFEF;width: 100%">&nbsp;</div>
        <ion-row>
            <div class="columnTitle">
                <div class="ico">&nbsp;</div>
                <div style="width: 90%;">美食广场</div>
                <div class="split"></div>
            </div>
            <ion-row>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
            </ion-row>
        </ion-row>
        <div style="height: 10px;background-color: #EFEFEF;width: 100%">&nbsp;</div>
        <ion-row>
            <div class="columnTitle">
                <div class="ico">&nbsp;</div>
                <div style="width: 90%;">美食广场</div>
                <div class="split"></div>
            </div>
            <ion-row>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
                <ion-col>
                    <img src="./assets/images/store01.png" />
                    <span>星巴克</span>
                </ion-col>
            </ion-row>
        </ion-row>
    </div>
</ion-content>